@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 170vh;
}

body{
    background: linear-gradient(#390099, #9e0059, #ff0054);
}

div.contenedor{
    margin: 2em 3em;
    position: relative;
}

header.cabecero{
    display: flex;
    position: sticky;
    height: 5em;
    align-items: center;
    justify-content: space-between;
    background-color: #091218;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
}

div.titulo_pag{
    margin-left: 50px;
    font-size: 2em;
    font-weight: bolder;
}

nav.links{
    margin-right: 50px;
    font-size: 1.2em;
    
}

nav.links a{
    height: 100%;
    padding: 10px;
}

section.coleccion{
    background-color: white;
    margin: 1.5em 0;
    padding: 1em;
    border-radius: 10px;
}

section.coleccion .popular{
    overflow: auto;
    display: flex;
    background-color: transparent;
    margin: 1.5em 2em;
    height: 24em;
}

section.coleccion .popular::-webkit-scrollbar-thumb:hover{
    background-color: #888;
    border-radius: 8px;
    border-right: 2px solid white;
}

section.coleccion .popular::-webkit-scrollbar{
    width: 6px;
    height: 10px;
}

section.coleccion .popular::-webkit-scrollbar-track{
    background-color: white;
}


section.coleccion .popular::-webkit-scrollbar-thumb{
    background-color: #ccc7c7;
    border-radius: 5px;
    border-right: 2px solid white;
}

div.popular .film{
    position: relative;
    text-align: center;
    border-radius: 10px;
}

div.popular .poster{
    width: 14.5em;
    height: 23em;
    padding: 5px;
	border-radius: 15px;
}

div.titulo{
    position: absolute;
    text-align: center;
    padding: 10px;
    font-size: 28px;
    font-weight: 1000;
    width: 100%;
    top: 30%;
    color: transparent;
}

div.film:hover div.titulo{
    background: linear-gradient(#390099,#9e0059, #ff0054);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;  
}

div.film:hover img.poster{
    animation-name: poster;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

@keyframes poster {
    0%{
        transform: scale(1);
        filter: invert(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.02);
        filter: invert(70%);
        opacity: .5;
    }
}

h2{
    margin-left: 1.7em;
    margin-top: 0.5em;
}