@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(#390099, #9e0059, #ff0054);
    min-width: 90em;
}

div.contenedor{
    margin: 1.6em 3em;
    position: relative;
}

header.cabecero{
    display: flex;
    position: sticky;
    top: 0;
    height: 5em;
    align-items: center;
    justify-content: space-between;
    background-color: #091218;
    border-radius: 0 0 10px 10px;
    z-index: 10;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
}

div.titulo_pag{
    margin-left: 50px;
    font-size: 2em;
    font-weight: bolder;
}

nav.links{
    margin-right: 50px;
    font-size: 1.2em;
    
}

nav.links a{
    height: 100%;
    padding: 10px;
}

section.informacion{
    background-color: rgba(255, 255, 255, 0.39);
    margin: 1.7em 0;
    padding: 1em;
    border-radius: 10px;
    min-width: 80em;
}

div.detalles{
    margin: 2em 4em;
    border-radius: 10px;
    display: flex;
    position: relative;
}

img.portada{
    width: 25em;
    height: 35em;
    margin: 1em 2em;
    border-radius: 15px;
}

div.overview{
    margin: 2em 2em 2em 0;
}

div.titulo{
    font-size: 2.2em;
    font-weight: bolder;
    padding-bottom: 15px;
}

div.rate{
    display: flex;
    margin: 1em;
    position: relative;
    font-size: 1.3;
    font-weight: bolder;
    height: 6em;
}

div.average{
    display: grid;
    width: 6em;
    height: 100%;
    position: absolute;
    place-items: center;
}

div.circle{
    position: relative;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 4px solid #2b2d42;
}

div.circle::before{
    content: "";
    position: absolute;
    height: 70%;
    width: 70%;
    background-color: #2b2d42;
    border-radius: 50%;
}

div.value-circle{
    position: relative;
    font-size: 20px;
    color: white;
}

div.title-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
}

div.genres{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

div.genero{
    display: flex;
    margin: 0.2em 0.5em;
    width: 10em;
    font-size: 15px;
    height: 2.7em;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.215);
    border-radius: 20px;
}

div.genero:hover{
    background-color: rgba(255, 255, 255, 0.367);
}

div.sinopsis{
    min-height: 15em;
    font-size: 1.36em;
}